.control {
  border: none;
}

.control[data-active] {
  background: transparent;
  border: 1px solid var(--mantine-color-blue-filled);
  color: var(--mantine-color-blue-filled);
}

.control[data-active]:hover {
  background: transparent;
  color: var(--mantine-color-blue-filled);
}
